*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Handjet', cursive;
   
    list-style: none;
    text-decoration:none;
    scroll-behavior: smooth;
    

}

:root{
    --bg-color: #ffffff;
    --text-color:whitesmoke;
    --main-color:#c8815f;
    --big-font: 4.5rem;
    --h2-font:3.3rem;
    --h3-font: 2rem;
    --normal-font:1rem;
    background-color: black;
  
}
body{
    margin: 0;
    padding: 0;
    position: relative;

    
    background:url(albumcover1.jpg)  ;
    background-size: contain;
   
    overflow-x: hidden;
    background-repeat: no-repeat;
    
   
}

header{
    width: 100%;
    top:0;
    right:0;
    z-index:1000;
    position:fixed;
    font-weight: 700;
    display:flex;
    align-items: right;
    justify-content: space-between;
    background: transparent;
    padding: 20px 14%;
    transition: all .35s ease;
}

.navlist {
    display:inline-flex;
    font-family:'oswald';
}
.navlist  a {
    display: block;
    color:whitesmoke;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 25px;
    transition: .5s;
    margin:0 20px;
}  
.navlist  a:hover {
    color: black; 
    background: whitesmoke ;
}
#hero .egypt{
    width:500px;
    height: 500px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.8rem;
    top: 275px;
    left: 250px;
    cursor: pointer;
    
}
#hero .egypt:hover{
    transform: scale(0.97);
    
}
#hero .rome{
    top: 275px;
    margin-left: 600px;
    width:500px;
    height: 500px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.8rem;
   
    cursor:pointer;
}
#hero .rome:hover{
    transform: scale(0.97);
    
}

.hero-text h1{
    top:12rem;
    margin-left: 180px;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    color: #fff;
    padding: 100px;
    animation: slideIn 2s forwards;
  
}
.hero-text2 h1{
    top:12rem;
    margin-left: 920px;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    color: #fff;
    padding: 100px;
    animation: slideIn 2s forwards;
  
}

.hero-text p{
    top:18rem;
    left: 280px;
    font-size: 5rem;
    text-align: center;
    position: absolute;
    font-weight: 700;
    
    color: #fff;
    padding: 100px;
   
  
} 
.hero-text2 p{
    top:18rem;
    left: 1075px;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    position: absolute;
    color: #fff;
    padding: 100px;
    
  
}
.egypt-container, .rome-container{
    text-align:center;
}


.popup{
    display:none;
    position:fixed;
    
    top:350px;
    left:200px;
    border-radius: 3rem;
    width: 600px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content{
    background-color: #555555;
    padding:30px;
    border-radius:5px;
    font-size: 3rem;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1001;
}

.popup1{
    display:none;
    position:fixed;
    top:350px;
    left:950px;
   
    border-radius: 3rem;
    width: 600px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content1{
    background-color: #555555;
    padding:30px;
    border-radius:5px;
    font-size: 3rem;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1001;
}


.close{
    position: absolute;
    top:10px;
    right:15px;
    font-size: 50px;
    cursor:pointer;
}
.logo:hover{
    
    transform: scale(0.97);
    
}

.popup .cta-button{
    top:600px;
    left:400px;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    color: #fff;
    padding: 50px;
    
}
.popup1 .cta-button1{
    top:550px;
    left:1200px;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    color: #fff;
    padding: 50px;
    
}
@keyframes slideIn {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}














.cta-button{
    display: inline-block;
    background-color:burlywood;

    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 4px;
}
.cta-button a{
    color:#fff;

}

.cta-button1{
    display: inline-block;
    background-color:burlywood;

    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 30px;
    margin-right: 4px;
}
.cta-button1 a{
    color:#fff;

}

#setlist .receipt{
    top: 50px;
    width:340px;
    height: 885px;
    position:relative;
    border-radius: 1rem;
  
    left:800px;
    align-items: center;

}
#setlist h1{
    margin-top: 600px;
    left: 900px;
    font-size: 3rem;
    color: #fff;
    position: relative;
    align-items: center;
    padding: 3px;
}
#setlist .billboard{
    background-image: url(stock.jpg);
    background-size: cover;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    position:absolute;
    top:1300px;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    width: 400px;
    height: 300px;
    padding:5px;
    left:100px;
}
.billboard{
    color:#fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
#setlist .ye{
    background-image: url(kanyetrav1.jpg);
    background-size: cover;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    position:absolute;
    top:1700px;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    width: 400px;
    height: 300px;
    padding:5px;
    left:100px;
    
}
.listen h1{
    position: absolute;
    color: #fff;
    top:1250px;
    right: 250px;
    font-size: 2rem;
}
.listen iframe{
    position:absolute;
    width: 352px;
    height: 500px;
    top: 1300px;
    right: 225px;
    
   
}


#merch{
    margin: 200px;
    
}
#merch h1{
    top:2000px;
    margin-left:700px;
    font-size: 3rem;
   
}
.new-content{
    background-image: contain;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));

    align-items: center;
    gap:5rem;
    margin-top:4rem;
    text-align: center;
}
.box{
    position: relative;
    transition: all .40s ease;
}
.box img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.box h5{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.box h6{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
.box img:hover{
    transform: scale(0.97);
}

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:5rem ;
    
}
#contact p{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin:1rem;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
}
    
.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53,53,53);
    background: rgb(250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;

}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
    gap:0.5rem;
    margin:1rem;
    
}
.contact-info-container p{
    font-weight: 700;
    color: black;
    text-decoration: none;

}

.contact-icon{
    cursor:default;
    width: 75px;
    height: 75px;
    

}

footer{
    height: 26vh;
    margin-top: 6rem;
    font-weight: 600;

    text-align: center;
    color: #fff;
}
footer p{
    margin-top: 2rem;
}